@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #9bb6c9;
  /* background-color: #6bc7aa; */
  /* margin-top: 90px; */
  height: 100vh;
}
.main_h1 > h1 {
  font-family: "Simple", sans-serif;
  font-size: 82px !important;
  font-weight: 120px;
  -webkit-text-stroke: 4px white;
  text-shadow: 7px 7px 7px #7676e1;
  letter-spacing: 4px;
  /* font-style: italic; */
}

.details > div > p {
  font-family: "Simple", sans-serif;
  font-size: 50px;
  font-weight: 120px;
  -webkit-text-stroke: 2px white;
  text-shadow: 7px 7px 7px #7676e1;
  letter-spacing: 3px;
}

.details > img {
  animation-name: rotate;
  animation-duration: 27s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@font-face {
  font-family: "Simple";
  src: url("../font/Simple.otf");
}
@font-face {
  font-family: "Bradley";
  src: url("../font/ITCBradleyHandStd.ttf");
}



h3 {
  font-family: "Bradley";
  font-weight: bold;
  -webkit-text-stroke: 1px black;
  color: black;
}

.buttonGetStarted {
  margin-top: 30px;
  font-weight: bold !important;
  width: 70% !important;
  font-size: 20px;
}

img {
  /* margin-top: 90px; */
  animation-name: rotate;
  /* animation-duration: 27s; */
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* border-radius: 50%; */
}

.step_container {
  display: flex;
  justify-content: space-between;
  position: relative; /* Set position to relative */
}

.step {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 50%;
  background-color: white;
  color: black;
  font-weight: bold;
  position: relative;
}

/* Add a line between each step */
.step::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 46px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  z-index: -1;
  right: calc(-46px - 2px);
}

.step_container .step:last-child::after {
  display: none;
}

.active_step {
  background-color: rgb(109, 109, 180);
  color: white;
  border: 5px solid rgb(148, 148, 206);
  width: 34px;
  height: 34px;
}

.step.active_step::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 46px;
  height: 2px;
  background-color: rgb(148, 148, 206);
  z-index: -1;
  right: calc(-46px - 2px);
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.font-outline-2 {
  -webkit-text-stroke: 2px black;
}

